@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    width: 1140px;
  }
  
  .logo {
    width: 0px;
    margin: 0 auto;
    float: left;
      font-weight: bold;
    text-transform: uppercase;
    padding: 0 20px;
    line-height: 70px;
  }
  
  nav {
    top: 0px;
    height: 80px;
    background-color: #3F2958;
    color: #14c234;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }
  
  nav ul {
    display: flex;
    float: right;
  }
  
  nav li {
    list-style: none;
  }
  
  nav li a {
    text-decoration: none;
    color: #14c234;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0 30px;
    line-height: 40px;
  }
  
  nav li a:hover {
    background: blueviolet;
  }
  
  .hero {
    height: 500px;
    background: url("images/UFO_Hero.png");
    background-size: cover;
    color: white;
    padding: 40px;
    padding-top: 20px;
  }

  .herotext {
    width: 400px;
    position: absolute;
    left: 620px;
    top: 360px;
    background: rgba(255, 255, 255, 0.137);
    padding: 10px 20px 10px 20px;
  }
  
  .parallax {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.93;
  }
  
  .parallax {
    background-image: url("images/UFO_Space.png");
    background-size: cover;
    min-height: 250px;
    color: white;
  }
  
  .ptext {
    position: absolute;
    top: 36%;
    width: 100%;
    text-align: center;
    color: #14c234;
    font-size: 72px;
    letter-spacing: 8px;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
  }
  
  .ptext .border {
    background: #111;
    color: #14c234;
    padding: 30px;
    font-family: 'Bebas Neue', cursive;
  }

  .heading {
    text-align: center;
  }
  
  .oldest {
    height: 1000px;
    background-color: #DFE3EB;
    padding: 80px;
    padding-top: 20px;
  }
  
  .sightings {
    height: 1150px;
    background-color: #DAD2E0;
    padding: 80px;
    padding-top: 20px;
  }
  
  .area51 {
    height: 1000px;
    background-color: #DFE3EB;
    padding: 80px;
    padding-top: 20px;
  }
  
  .roswell {
    height: 800px;
    background-color: #DAD2E0;
    padding: 80px;
    padding-top: 20px;
  }
  
  .bigmenu {
    height: 620px;
    background-image: url("images/UFO_Space2.png");
    background-size: cover;
    padding: 80px;
    padding-top: 20px;
  }
  
  .modern {
    height: 850px;
    background-color: #DFE3EB;
    padding: 80px;
    padding-top: 20px;
  }
  
  footer {
    height: 280px;
    background-color: #3F2958;
    color: #13DE39;
    padding: 80px;
    padding-top: 20px;
  }

  .heading {
    font-family: 'Courier New', Courier, monospace;
    color: #14c234;
    font-size: 34px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 20%;
  }